body {
    background: #bbb1c9;
    font-family: Tahoma, Arial, sans-serif;
}
h1 {
    color: rgb(230, 227, 233);
    font: 48px Garamond, Helvetica, serif;
}

    table {
    width: 25%;  border-style: solid;}
}

thead { 
    text-align: middle;
}

label {
    display: block;
}

#submit-btn {
    display: block;
}